importFrom("caret", "createFolds")
importFrom("graphics", "abline", "boxplot", "legend", "lines", "par", "plot", "points", "text")
importFrom("grDevices", "rainbow")
importFrom("hmeasure", "HMeasure", "relabel")
importFrom("nloptr", "nloptr")
importFrom("PRROC", "pr.curve")
importFrom("stats", "binomial", "delete.response", "glm.fit", "model.frame", "model.matrix", "model.response", "predict", "setNames")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")

export(cslogit)
export(cv.cslogit)
export(checkInputs)
export(computeObjectiveGradient)
export(summary.cslogit)
export(predict.cslogit)
export(plot.cslogit)
export(plot.cv.cslogit)
export(findOptimalThreshold)
export(costPerformance)
export(performance)

S3method(plot, cslogit)
S3method(plot, cv.cslogit)
S3method(predict, cslogit)
S3method(summary, cslogit)
